body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGridBtn {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.newGridBtn:hover {
    cursor: pointer;
}

#gridContainer {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 100px;
    margin-bottom: 2vmin;
    height: 432px;
    width: 432px;
    border: 1px solid black;
    padding: 0;
}

.square {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    margin: 0px; 
}

.square-hover {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;  
    margin: 0px; 
    background-color: black;
    cursor: cell;
}


